/*elements*/
html
{
    font-family: sans-serif;
    width: 100%;
    --maxHeight: 100vh;
    --navHeight: 40px;
}

body
{
	margin: 0px;
}

/*id*/
#container
{
	width: 85%;
	margin: auto;
}

#title-page
{
	height:calc(var(--maxHeight) - var(--navHeight));
	display: grid;
	grid-template-rows: 1fr 1.5fr 1fr;
	align-items: center;
	
	background-color: #0162a6;
	color: white;
	border-radius: 25px;
	margin: 0px 0px 5px 0px;
	
}

#uni-logo
{
	grid-row: 1;
	max-height: 25vh;
	justify-self: start;
}

#main-title
{
	grid-row: 2;
	text-align: center;
	font-size: max(25px, 3vw);
	padding: 0px 5px;
}

#authors
{
	grid-row: 3;
	
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-items: center;
	font-size: max(16px, 1.5vw);
}

#student
{
	padding: 10px;
}

#supervisors
{
	padding: 10px;
}


/* Classes */
.personal-title
{
	font-size: 0.8em;
}

.grid
{
	display: grid;
}

.max-width
{
	max-width: 100%;
}

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: sticky;
  top: 0px;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #04AA6D;
  color: white;
}
